@import '../node_modules/normalize.css/normalize.css';

@font-face {
    font-family: 'LIB-P';
    src: url("/assets/fonts/LIBERTA-piena.otf");
}
@font-face {
    font-family: 'LIB-1';
       src: url("/assets/fonts/LIBERTA-uno.otf");
}
@font-face {
    font-family: 'LIB-2';
       src: url("/assets/fonts/LIBERTA-due.otf");
}
@font-face {
    font-family: 'LIB-3';
       src: url("/assets/fonts/LIBERTA-tre.otf");
}
@font-face {
    font-family: 'LIB-E';
       src: url("/assets/fonts/LIBERTA-elementi.otf");
}

$colore : #23f0c7;
$colore_due: #664bc6;
$grigiochiaro : #f0f0f0;

.margini {
    margin-top:0!important;
    margin-bottom:0!important;
    @media only screen and (max-width: 900px) {
        margin-left:5%!important;
        width:90%!important;
        margin-right:5%!important;
    }
}
*{
    line-height:1.5em;
    box-sizing: border-box;
    font-family: 'LIB-P';
    font-style: none!important;
    font-weight: normal!important;
}

body {
    margin: 0;
    padding: 0;
}
a{  text-decoration: none!important;
    color:black;
    transition: all .3s;
    &:hover{
        color:#23f0c7;
    }
}
a.extreme{
    padding-top:15px;
    padding-bottom:15px;
    margin-top:15px;
    margin-bottom:15px;
    border-bottom: 15px $colore solid;
    font-family:'LIB-1';
    font-size:6em;
    font-style:none!important;
    font-weight: normal!important;
    @media only screen and (max-width: 900px) {
    font-size:2.5em;
    line-height:1.75em!important;
    padding-top:15px;
    padding-bottom:15px;
    }
}
h2.first{
    font-size:3em;
    font-family:'LIB-1';
    color:$colore_due;
}
p.second{
    column-count:2;
}
div.flexbox{
    display:flex;
    width:100%;
    @media only screen and (max-width: 900px) {
    display:block;
    }
}
a.calltoaction{
    background:$colore;
    width:33%;
    color:black;
    text-align:center;
    min-height:120px;
    font-size:1.5em;
    padding:50px;
    border: 2px white solid;
    @media only screen and (max-width: 900px) {
    width:100%!important;
    float:left;
    }
    &:hover{
    color:white;
    background-color:$colore_due;
    }
}

a.more_events{
    background-color:$grigiochiaro;
    padding:10px;
    padding-right:15px;
    padding-left:15px;
    margin-top: 2em;
    margin-bottom: 2em;

    &:hover{
        color:black;
        background-color: $colore;
    }
}
li.button{
        a{
        padding:5px;
        padding-right:10px;
        padding-left:10px;
        border: 2px solid black;
        transition: all .3s;
        &:hover{
            border: 2px $colore solid;
        }    
    }
}
li.button.active{
    a {
        color: $colore!important;
        border: 2px $colore solid!important;
    }
}

h1.testata{
    font-size:5em;    
}
.container.calltoaction{
    margin-bottom:10%;
}
.container{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}
.titolo{
    color: red;
}

.articles{
  border: 1px solid red;
  padding: 15px;
}

.article{
  border: 1px solid blue;
  margin: 15px;
}

#mainmenu {
    width:80%;
    height:0;
    flex-direction: column;

    @media only screen and (max-width: 900px) {
        *{
            color:white!important;
        }
        visibility: hidden;
        width:100%;
    }
    &.show{
        height:auto;
        visibility: visible !important;
        *{
            color:black!important;
        }
        a{
            &:hover{
            color:$colore!important;
            }
        }
    }
}

.icon-bar           {
    display: block;height: 3px;
    margin: 6px 15% 6px;
    background-color: black;

    @media only screen and (max-width: 600px) {
    }

    @media only screen and (max-width: 450px) {
    }
}

.btn-responsive-menu{
display: none;
cursor:pointer;
border-radius: 4px;
margin-bottom: 0;
margin-left: 0;
padding: 24px 5px;
margin-top: -60px;
background-color: transparent;
    position: absolute;
    right:15px;
    width:50px;
@media only screen and (max-width: 900px) {
    display:block;
    margin-bottom: 0;
    margin-top: -6px;
    padding-top:12px;
    background-color: transparent;
    z-index: 99!important;
    }
@media only screen and (max-width: 600px) {
    }
@media only screen and (max-width: 450px) {
    }
}
a.logo{
    width:10%;
    float:left;
    display:block;
    img{
        max-height:3em!important;
        @media only screen and (max-width: 900px) {
        max-height:3em!important;
        margin-bottom:1em;
        }
    }
}
.menu{
    display:flex;
    width: 100%;
    padding: 10px 0; 
    justify-content: space-between;
        @media only screen and (max-width: 900px) {
        display:block;
        }
    .menu_list{
        list-style: none;
        padding: 0;
        display: flex;
        width:100%;
        justify-content: space-between;
        @media only screen and (max-width: 900px) {
            display:block; 
            height:auto;
        }

        .menu_item{
            align-self:center;
            display: inline-block;
            margin: 0 15px;
            @media only screen and (max-width: 900px) {
                width:100%;
                margin:0!important;
                text-align:center;
                line-height:1.5em;
            }
            &:first-child{
                margin: 0 15px 0 0;
            }
            &:last-child{
                margin: 0 0 0 15px;
            }
        }
    }
}

.nav_blog{
    width: 100%;
    padding: 10px 0; 
    .nav_blog_list{
        list-style: none;
        .nav_blog_item{
            display: inline-block;
            margin: 0 15px;
        }
    }
}

.header{
    width: 90%;
    padding-top:30px;
    margin-left:5%;
    margin-right:5%;
    @media only screen and (max-width: 900px) {
        padding-top:0.5em;
    }
}
.footer{
    width: 100%;
    color: white;
}

.flex_sidebar_layout{
    display: flex;
    flex-direction: row;
}

.flex_column_layout{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .content_list{
        width: 100%;
    }
}
.sidebar{
    width: 20vw;
    padding: 15px;
    background-color: beige;
    ul{
        list-style: none
    }
}
.topbar{
    width: 100%;
    padding: 15px;
    background-color: beige;
    ul{
        list-style: none;
        padding: 0;
        li{
            display: inline-block;
        }
    }
}
.content_list{
    padding: 15px;
    width: 80vw;
}

.post_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.post_list_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main_posts{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.main_posts_left{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.main_posts_right{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.has_bg{
    position: relative;
    img{
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        z-index: -1;
    }
}
.post_box{
    width: 150px;
    height: 150px;
    border: 1px solid red;
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    overflow: hidden;
    img{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        z-index: 0;
    }
    .post_box_detail{
        position: relative;
        z-index: 1;
    }
    &.full{
        width: 100%;
    }
}
.post_big{
    width: 100%;
    height: 150px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.post_small{
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.cover{
    width: 100%;
    height: 40vh;
    position: relative;
    display: block;
    margin: 0 0 150px 0;
    .cover_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        top: 50%;
        z-index: 2;
    }
}

#search{
    border: 1px solid black;
    padding: 5px 10px;
}

.filterbar{

    ul{
        line-height:3em;
        list-style: none;
        padding:0!important;
        @media only screen and (max-width: 900px) {
        margin:5%;
        line-height:2.5em;
        }        
        li{
            display: inline-block;
        }
    }
}


.events_list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event_item{
    position: relative;
    display: block;
    flex-grow: 1;
    width: 400px;
    padding: 15px;
    margin: 15px;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0,0,0,1); 
    &:hover{
        *{
            color:$colore;
        }
    }

    .bg{
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1; 
    }
    .info{
        color: white;
        z-index: 10;
        line-height:1.5em;
        h1.titolo_evento{
            font-size:2em;
            line-height:1em;
            font-style:none!important;
            font-weight:0!important;

        }
        .tags{
            font-size: .8em;
            padding: 5px 10px;
            display: inline-block;
            background-color: black;
        }
        .category{
            font-size: 0.8em;
            padding: 5px 10px;
            display: inline-block;
            background-color: black;
        }
        .price{
            font-size: 1.5em;
            font-weight: bold;
        }
    }
}

.servizio_icona{
    width: 100px;
    height: 100px;
}


div.container.dovesiamo{
	h2{
	  width:100%;
	  text-align:center;
	  text-transform:uppercase;
	  font-size:3em;
	  line-height:1.5em;
	  color: black;    
	  font-family: 'AmsiProBold', sans-serif;
	  font-weight: 0;
	  font-style: none;
	  text-align:center;
	}
}
div.map_container{
	padding-bottom:60px;
	margin-bottom:60px;
	display:flex;
		@media only screen and (max-width: 1200px) {
    	flex-direction: column-reverse; 
		}

	#sidebar_dovesiamo{
		width:20%;
		@media only screen and (max-width: 1200px) {
	    	width:100%;
		}
		div.input{
			@media only screen and (max-width: 1200px) {
				padding:5%;
				width:90%;
				margin-bottom:0;
			}
			padding:7.5%;
			width:100%;
			background-color:grey;
			margin-bottom:15px;
			input{
				@media only screen and (max-width: 1200px) {
					width:100%;
				}
  				font-family: 'Roboto condensed', sans-serif;
				width:85%;
				font-size:14px;
				padding-left:3px;
			    box-sizing: border-box;
				border:2px white solid;
				outline-color:white;
			}
		}
		#risultati_dovesiamo{
	    overflow-y: scroll!important;
	    max-height:422px;
			div.risultato_sede{
				line-height:1.15em;
				cursor:pointer;
				transition: all .3s;
				padding:15px;
				&.active,
				&:hover{
					background-color:rgba(231,178,94,0.25);
				}
				span.titolo{
					font-size:15px;
					margin-bottom:15px;
					text-transform: uppercase;
					font-weight:900;
					font-style:normal;
				}
				div.servizio{
					& span{
						color: black;
						font-size:12px;
						font-weight:600;
					}
				}
				div.details{
					color:grey;
					font-size:12px;
					font-weight:400;
				}
			}
		}
	}

	#map_dovesiamo{
		width:80%;
		min-height: 500px;
		margin:0!important;
		padding:0!important;
		@media only screen and (max-width: 1200px) {
	    	width:100%;
		}
	}
}

#map {
  min-height: 300px;
  height:auto!important;
  width: 60%;
	@media only screen and (max-width: 1200px) {
	width:70%;
	}
	@media only screen and (max-width: 900px) {
	width:100%;
	}
 }
/////////////////////////////////////// ENZO

//.container{
//    width: 100%;
//    max-width: 1080px;
//    margin: 0 auto;
//    border-right: 2px solid red;
//    border-left: 2px solid red;
//    height: 1100px;
//}

/*==================== SOGGETTI ======================*/
.copertina-soggetti{
    width: 100%;
    height: 300px;
    background-color: yellow;
    padding-top: 20px;
}

.alignleft {
    float: left;
    width: 45%;
    padding: 20px;
/*	background-color: red;  */
}

.alignright {
    float: right;
    width: 45%;
    padding: 20px;
/* background-color: yellow; */
}

.ul-right{
    float: left;
    list-style: none;
    margin-left: -40px;
}

.ul-right li{
    background-color: blue;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.ul-left{
    float: left;
    list-style: none;
    margin-left: -40px;
}

.ul-left li{
    background-color: blue;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.title-space-left{ /*Questa regola css PROBABILMENTE sarà sbagliata. La fretta.*/
    width: 93%;
    background-color: #bcbfc4;
    padding: 5px 15px;
    float: right;
    text-align: left;
}

.title-space{ /*Questa regola css PROBABILMENTE sarà sbagliata. La fretta.*/
    width: 93%;
    background-color: #bcbfc4;
    padding: 5px 15px;
    float: right;
    text-align: right;
}

.map-space{
    width: 100%;
    height: 200px;
    background: linear-gradient(to right, #3674db , #072556);	
    margin-top: 30px;
}

.btn-contact{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

/*==================== SERVIZI ======================*/

#servizi-titolo{
  text-align: center;
}

.row {
  width: 100%;
    text-align: center;
}

.block {
  width: 80px;
  display: inline-block;
  zoom: 1;
  /*background-color: #d7dbe2;*/
  height: 80px;
  margin: 10px 40px 10px 40px;
  text-align: center;
}

.img-service{
  width: 30px;
  background-color: blue;
  height: 30px;
  border-radius: 100%;
  margin: 0 auto;
}

.name-service{
  display: inline-block;
  zoom: 1;
  margin: 10px auto;
  font-size: 12px;
}

#btn-services{
  margin: 0 auto;
  display: block;
}

/*==================== FORM PROPONI UN EVENTO ======================*/

#form-container{
  width: 100%;
  background-color: #d6d7d8;
  display: inline-block;
  padding: 10px 0 10px 0;
}

.alignleft {
  float: left;
  width: 45%;
  padding: 20px;
/*	background-color: red; */
}
.alignright {
  float: right;
  width: 45%;
  padding: 20px;
/*	background-color: yellow; */
}

#first-name{
  float: left;
  width: 40%;
  border-radius: 5px;
  border: 1px solid #999da1;
  padding: 5px;
}

#last-name{
  float: right;
  width: 40%;
  border-radius: 5px;
  border: 1px solid #999da1;
  padding: 5px;
}

#msg-event{
  border-radius: 5px;
  border: 1px solid #999da1;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 98%;
  height: 180px;
}

#btn-event{
  float: right;
}

