@import '../node_modules/normalize.css/normalize.css';

@import './bacheca.scss';


@font-face {
    font-family: 'LIB-P';
    src: url("/assets/fonts/LIBERTA-piena.otf");
}
@font-face {
    font-family: 'LIB-1';
       src: url("/assets/fonts/LIBERTA-uno.otf");
}
@font-face {
    font-family: 'LIB-2';
       src: url("/assets/fonts/LIBERTA-due.otf");
}
@font-face {
    font-family: 'LIB-3';
       src: url("/assets/fonts/LIBERTA-tre.otf");
}
@font-face {
    font-family: 'LIB-E';
       src: url("/assets/fonts/LIBERTA-elementi.otf");
}

$colore : #23f0c7;
$colore_due: #664bc6;
$colore_tre: #ffe347;
$colore_sfondo: #f3f3f3;
$grigiochiaro : #f0f0f0;

*{
    & ::selection {    
        background-color: $colore_tre;
        color: $colore_due;
        text-shadow: none;
    }
}

div.actions{
    width:100%;
    margin-top:60px;
    margin-bottom:60px;
    a{
        width:40%;
        margin:10%;
        text-align: center;
        line-height:2em;
        padding-top:15px;

    }
}

div.flexbox.baretto{
    flex-wrap:wrap;
    div.piatto{
        text-align:center;
        width:50%;
        @media only screen and (max-width: 900px) {
        width:100%;
        }
        margin:0 auto;
        margin-bottom:60px;
        padding-bottom:15px;
        padding-top:15px;
        margin-top:60px;
    }
    p.ingredienti{
    }
}
div.domanda{
    margin:5%;
    width:90%;
    font-size:2em;
    @media only screen and (max-width: 900px) {
    font-size:1em;
    }
}
section.cowo{
    p.description{
    font-size:2em;
    @media only screen and (max-width: 900px) {
    font-size:1em;
    color:$colore_due;
    }
    }
    h1{
        margin:0;
        text-align:center;
    }
    p{
    }
}
section.cowo{
    padding:30px!important;
}
.margini {
    margin-top:0!important;
    margin-bottom:0!important;
    padding-left:5%!important;
    padding-right:5%!important;
    @media only screen and (max-width: 900px) {
        margin-left:0!important;
        width:100%!important;
        margin-right:0!important;
    }
}
*{
    line-height:1.5em;
    box-sizing: border-box;
    font-family: 'LIB-P';
    font-style: none!important;
    font-weight: normal!important;
}
html{
    background-color: $colore_tre;
}
body {
    margin: 0;
    padding: 0;

}

div.post-home{
    display:flex;
    @media only screen and (max-width: 900px) {
    display:block;
    }
}
div.dx{
    width:50%;
    @media only screen and (max-width: 900px) {
    width:100%;
    }
    font-size:1.5em;
    padding-left:1.5em;
    p.descrizione{
        font-size:0.75em;
    }
}
div.sx{
    width:50%;
    @media only screen and (max-width: 900px) {
    width:100%;
    }
    img {
        width:100%; 
        height:auto;
    }
}
a.none{
    margin:0!important;
    padding:0!important;
    width:100%;
    display:flex;
    @media only screen and (max-width: 900px) {
    display:block;
    }
}
a{  text-decoration: none!important;
    color:black;
    transition: all .3s;
    &:hover{
        color:#23f0c7;
    }
    &.active{
        color:$colore!important;
        padding-bottom:3px;
        border-bottom: 2px solid;
    }
}
div.negativo{
    background-color:black!important;
    color:white!important;
    padding-top:6.6%;
    padding-bottom:6.6%;
}
div.coworking{
    padding:0;
    margin-bottom:-7px;
}
h2.extreme-container{
    display:flex;
    width:100%;
    text-align:center;
    @media only screen and (max-width: 900px) {
    display:block;
    }
}
a.extreme{
    text-align:center;
    font-family:'LIB-1';
    font-size:3em;
    width:50%;
    color: $colore_due;
    line-height:1.5em;
    font-style:none!important;
    font-weight: normal!important;
    @media only screen and (max-width: 900px) {
    font-size:2em;
    width:100%;
    line-height:1.75em!important;
    padding-top:15px;
    padding-bottom:15px;
    }
    &:hover{
        color: $colore;
    }
}
strong{
    color: $colore;
    font-family:'LIB-1';        
}
u{
    text-decoration:none;
    color: $colore_due;
    background-color: $colore;
    font-family:'LIB-1';        
    padding-top:0.6%;
    padding-bottom:0.6%;
    padding-left:1%;
    padding-right:1%;    
}
h2.first{
    font-size:3em;
    p{
    margin-top:0!important;
    color:$colore_due;
    font-family:'LIB-1';        
    }
    @media only screen and (max-width: 900px) {
    font-size:1.5em;
    }
}
p.second{
    column-count:2;
    @media only screen and (max-width: 900px) {
    column-count:1;
    font-size:0.75em;
    }
}
div.flexbox{
    display:flex;
    width:100%;
    *{
        padding-right:30px;
    }
    @media only screen and (max-width: 900px) {
    display:block;
    }
}
div.logofooter{
    background-color:$colore_due;
    width:100%;
    text-align:center;
    padding-top:15%;
    padding-bottom:25%;
    svg{
        height:7em;
    }
}

a.calltoaction{

    background:$colore_tre;
    color:black;
    text-align:center;
    min-height:130px;
    font-size:1.5em;
    margin:1%;
    padding:50px;
    border: 2px $colore_sfondo solid;
    @media only screen and (max-width: 900px) {
    width:96%!important;
    float:left;
    margin-bottom:6%;
    }
    &:hover{
    color:$colore_sfondo;
    background-color:$colore_due;
    }
}
div.box{
    position:relative;
    img{
        width:100%;
    }
}
div.message{
    position:absolute;
    top:0;
    left:5%;
    z-index:99;
    padding:2.5%!important;
    color:black;
    width:66%;
    font-size:1.75em;
    @media only screen and (max-width: 900px) {
    font-size:0.66em;
    }
}
a.soggetto{
}
p.mini{
    font-size:0.75em;
}
.bar{
    border-top:2px black solid!important;
}
div.elemento_soggetto{
    width:33%!important;
    &.spazio{
    width:50%!important;
    @media only screen and (max-width: 900px) {
    width:100%!important;
    }
    }
    @media only screen and (max-width: 900px) {
    width:100%!important;
    }
    border-top:1px black solid;
    padding:15px;
    a.more_events{
        margin:1em;
        margin-left:0;
    }
}
div.container.padding{
    padding:15px;
    display:flex;
    flex-wrap:wrap;
}
a.more_events{
    background-color:white;
    padding:10px;
    padding-right:15px;
    padding-left:15px;
    margin-top: 5em;
    margin-bottom: 5em;
    &.coworking{
      background-color:black!important;
      color:$colore_tre!important;
      &:hover{
        background-color:white!important;
        color:black!important;
      }
    }

    &:hover{
        color:black;
        background-color: $colore;
    }
}
li.button{
        a{
        padding:10px;
        padding-right:12px;
        padding-left:12px;
        transition: all .3s;
        color: $colore_due;
        background-color: white;
        &:hover{
            color: white;
            background-color: $colore_due;
        }    
    }
}
li.button.active{
    a {
            color: white;
            background-color: $colore_due;
    }
}
h2.nope{
    font-size:2em;
    width:66%;
    text-align:center;
    margin-bottom:10%;
    margin-top:7.5%;
}
div.cowo{
    *{
        text-align:left!important;
    }
}
div.elemento_cowo{
    width:50%;
}
h1.testata{
    font-size:12vw;    
    line-height:1em;
    margin:0;
    font-family: 'LIB-2';
    @media only screen and (max-width: 1200px) {
    font-family: 'LIB-1';
    }
    @media only screen and (max-width: 900px) {
    }
}

.container.calltoaction{
    padding-bottom:5%!important;
    padding-top:5%!important;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color:$colore_sfondo;

}
.titolo{
    color: $colore;
}

.articles{
  border: 1px solid $colore;
  padding: 15px;
}

.article{
  border: 1px solid blue;
  margin: 15px;
}

#mainmenu {
    width:80%;
    height:0;
    flex-direction: column;

    @media only screen and (max-width: 900px) {
        *{
            color:$colore_sfondo!important;
        }
        visibility: hidden;
        width:100%;
    }
    &.show{
        height:auto;
        visibility: visible !important;
        *{
            color:black!important;
        }
        a{
            &:hover{
            color:$colore!important;
            }
        }
    }
}

.icon-bar           {
    display: block;height: 3px;
    margin: 6px 15% 6px;
    background-color: black;

    @media only screen and (max-width: 600px) {
    }

    @media only screen and (max-width: 450px) {
    }
}

.btn-responsive-menu{
display: none;
cursor:pointer;
border-radius: 4px;
margin-bottom: 0;
margin-left: 0;
padding: 24px 5px;
margin-top: -60px;
background-color: transparent;
    position: absolute;
    right:15px;
    width:50px;
@media only screen and (max-width: 900px) {
    display:block;
    margin-bottom: 0;
    margin-top: -6px;
    padding-top:12px;
    background-color: transparent;
    z-index: 99!important;
    }
@media only screen and (max-width: 600px) {
    }
@media only screen and (max-width: 450px) {
    }
}
a.logo{
    width:10%;
    float:left;
    display:block;
    img{
        max-height:3em!important;
        @media only screen and (max-width: 900px) {
        max-height:3em!important;
        margin-bottom:1em;
        }
    }
}
.menu{
    padding-right:5%!important;
    display:flex;
    width: 100%;
    margin:0;
    padding:0; 
    justify-content: space-between;
        @media only screen and (max-width: 900px) {
        display:block;
        }
    .menu_list{
        list-style: none;
        padding: 0;
        display: flex;
        width:100%;
        justify-content: space-between;
        @media only screen and (max-width: 900px) {
            display:block; 
            height:auto;
        }

        .menu_item{
            align-self:center;
            display: inline-block;
            margin: 0 15px;
            @media only screen and (max-width: 900px) {
                width:100%;
                margin:0!important;
                text-align:center;
                line-height:1.5em;
            }
            &:first-child{
                margin: 0 15px 0 0;
            }
            &:last-child{
                margin: 0 0 0 15px;
            }
        }
    }
}

.nav_blog{
    width: 100%;
    padding: 10px 0; 
    .nav_blog_list{
        list-style: none;
        .nav_blog_item{
            display: inline-block;
            margin: 0 15px;
        }
    }
}

h2.titolino{
    color:black;
}

.header{
    padding:2.5%;
    width: 100%;
    min-height:6em;
    margin: 0 auto;
    @media only screen and (max-width: 900px) {
        padding-top:0.5em;
    }
}
footer{
    background-color:$colore_due!important;
    flex-direction: row-reverse;
    margin-top:-10px;
    display:flex;
    padding:5%;
    font-size:0.9em;
    @media only screen and (max-width: 900px) {
    font-size:0.75em;
    flex-wrap:wrap;
    flex-direction: column-reverse;
    }
}
div.links{
    flex-grow:1;
    *{
    color:white;
    }
    a{
        &:hover{
            color:$colore;
        }
    }
    @media only screen and (max-width: 900px) {
    margin-top:15%!important;
    }
}
div.informations{
    *{
    color:$colore;
    }
    flex-grow:2;
    color:white;
    @media only screen and (max-width: 900px) {
    margin-top:15%!important;
    }
}
.footer{
    width: 100%;
    color: $colore_sfondo;
}

.flex_sidebar_layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 900px){
        flex-direction: column-reverse;
    }
    .content p{
        line-height: 1.8em;
        max-width: 50ch;
    }
}

.flex_column_layout{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .content_list{
        width: 100%;
    }
}
.sidebar{
    width: 350px;
    padding: 0 30px 30px 30px;
    ul{
        list-style: none
    }
    h1{
        margin-top: 0;
    }
    .side_info_element{
        padding-bottom: 5px;
        border-bottom: 1px solid black;

    }
    @media screen and (max-width: 900px){
        width: 100%;
        padding: 0 0 30px 0;
        border-bottom: 1px solid black;
        margin-bottom: 25px;
    }
}
.topbar{
    width: 100%;
    padding: 15px;
    background-color: beige;
    ul{
        list-style: none;
        padding: 0;
        li{
            display: inline-block;
        }
    }
}
.content_list{
    padding: 15px;
    width: 80vw;
}

.post_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.post_list_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main_posts{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.main_posts_left{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.main_posts_right{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.has_bg{
    position: relative;
    img{
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
.post_box{
    width: 150px;
    height: 150px;
    border: 1px solid $colore;
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    overflow: hidden;
    img{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        z-index: 0;
    }
    .post_box_detail{
        position: relative;
        z-index: 1;
    }
    &.full{
        width: 100%;
    }
}
.post_big{
    width: 100%;
    height: 150px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.post_small{
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
h2.data{
    text-align:center;
    //width:100%;
    font-size:3em;
}
.cover{
    width: 100%;
    position: relative;
    display: block;
    margin: 0 0 3rem 0;

    .cover_content{
        padding-top:3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        top: 0%;
        z-index: 2;
        .data{
            display: inline-block;
            background-color: black;
            padding: 5px 25px;
            padding-top:15px;
            font-size: 3em;
            color: white;
            margin: 1rem 0;
            @media only screen and (max-width: 900px) {
                font-size:1.66em;
            }
        }
        h1{
        font-size:10vw;
        font-family:'LIB-1';
        margin:0;
        line-height:1.5em!important;
        color:$colore;
        text-shadow: 3px 3px black;
        @media only screen and (max-width: 900px) {
        font-size: 7.5vw;
        font-family:'LIB-P';
        margin-top:5%;
        }    
        @media only screen and (max-width: 600px) {
        margin-top:10%;
        }      
        }
        .tag{
            color:$colore;
            text-shadow: none;
            font-size:1.5em;
            text-shadow: 3px 3px black;
            margin: 2rem 0;
            &:hover{
                color:$colore;
            }
        }
    }
}

#search{
    border: 1px solid black;
    padding: 5px 10px;
}

.filterbar{

    ul{
        line-height:3em;
        list-style: none;
        padding:0!important;
        @media only screen and (max-width: 900px) {
        margin:5%;
        line-height:2.5em;
        }        
        li{
            display: inline-block;
        }
    }
}


.events_list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.eventi{
    padding-bottom:10em;
}
.event_item{
    position: relative;
    display: block;
    flex-grow: 1;
    width: 400px;
    padding: 15px;
    margin: 15px;
    min-height:300px;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0,0,0,1); 
    &:hover{
        *{
            color:$colore;
        }
    }

    .bg{
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1; 
    }
    .info{
        color: $colore_sfondo;
        z-index: 10;
        line-height:1.5em;
        h1.titolo_evento{
            font-size:2em;
            line-height:1em;
            font-style:none!important;
            font-weight:0!important;

        }
        .tags{
            font-size: .8em;
            padding: 5px 10px;
            display: inline-block;
            background-color: black;
        }
        .category{
            font-size: 0.8em;
            padding: 5px 10px;
            display: inline-block;
            background-color: black;
        }
        .price{
            font-size: 1.5em;
            font-weight: bold;
        }
    }
}

.servizio_icona{
    width: 100px;
    height: 100px;
}


div.container.dovesiamo{
	h2{
	  width:100%;
	  text-align:center;
	  text-transform:uppercase;
	  font-size:3em;
	  line-height:1.5em;
	  color: black;    
	  font-family: 'AmsiProBold', sans-serif;
	  font-weight: 0;
	  font-style: none;
	  text-align:center;
	}
}
div.map_container{
	padding-bottom:60px;
	margin-bottom:0px;
	display:flex;
		@media only screen and (max-width: 1200px) {
    	flex-direction: column-reverse; 
		}

	#sidebar_dovesiamo{
		width:33%;
		@media only screen and (max-width: 1200px) {
	    	width:100%;
		}
		div.input{
			@media only screen and (max-width: 1200px) {
				padding:5%;
				width:90%;
				margin-bottom:0;
			}
			padding:0;
			width:100%;
			background-color:grey;
			margin-bottom:0px;
			input{
				@media only screen and (max-width: 1200px) {
					width:100%;
				}
  				font-family: 'Roboto condensed', sans-serif;
				width:100%;
                line-height:1.5em!important;
				font-size:20px;
				padding:15px;
                padding-top:17px;
                font-family:'LIB-P';
			    box-sizing: border-box;
				border:none!important;
				outline-color:$colore_sfondo;
			}
		}
		#risultati_dovesiamo{
	    overflow-y: scroll!important;
	    max-height:422px;
			div.risultato_rel{
				line-height:1.15em;
				cursor:pointer;
				transition: all .3s;
				padding:15px;
                border-bottom:2px $colore_due solid;
				&.active,&:hover{
					background-color:$colore_tre;
				}
				span.titolo{
					font-size:15px;
					margin-bottom:15px;
					text-transform: uppercase;
					font-weight:900;
					font-style:normal;
                    color:$colore_due;
				}
				div.servizio{
					& span{
                        color:$colore_due;
						font-size:12px;
						font-weight:600;
					}
				}
				div.details{
                    color:$colore_due;
					font-size:12px;
					font-weight:400;
				}
			}
		}
	}

	#map_dovesiamo{
		width:80%;
		min-height: 500px;
		margin:0!important;
		padding:0!important;
		@media only screen and (max-width: 1200px) {
	    	width:100%;
		}
	}
}

#map {
  min-height: 300px;
  height:auto!important;
  width: 60%;
	@media only screen and (max-width: 1200px) {
	width:70%;
	}
	@media only screen and (max-width: 900px) {
	width:100%;
	}
 }
/////////////////////////////////////// ENZO

//.container{
//    width: 100%;
//    max-width: 1080px;
//    margin: 0 auto;
//    border-right: 2px solid $colore;
//    border-left: 2px solid $colore;
//    height: 1100px;
//}

/*==================== SOGGETTI ======================*/
.copertina-soggetti{
    width: 100%;
    height: 300px;
    background-color: yellow;
    padding-top: 20px;
}

.alignleft {
    float: left;
    width: 45%;
    padding: 20px;
/*	background-color: $colore;  */
}

.alignright {
    float: right;
    width: 45%;
    padding: 20px;
/* background-color: yellow; */
}

.ul-right{
    float: left;
    list-style: none;
    margin-left: -40px;
}

.ul-right li{
    background-color: blue;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.ul-left{
    float: left;
    list-style: none;
    margin-left: -40px;
}

.ul-left li{
    background-color: blue;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.title-space-left{ /*Questa regola css PROBABILMENTE sarà sbagliata. La fretta.*/
    width: 93%;
    background-color: #bcbfc4;
    padding: 5px 15px;
    float: right;
    text-align: left;
}

.title-space{ /*Questa regola css PROBABILMENTE sarà sbagliata. La fretta.*/
    width: 93%;
    background-color: #bcbfc4;
    padding: 5px 15px;
    float: right;
    text-align: right;
}

.map-space{
    width: 100%;
    height: 200px;
    background: linear-gradient(to right, #3674db , #072556);	
    margin-top: 30px;
}

.btn-contact{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

/*==================== SERVIZI ======================*/

#servizi-titolo{
  text-align: center;
}

.row {
  width: 100%;
    text-align: center;
}

.block {
  width: 80px;
  display: inline-block;
  zoom: 1;
  /*background-color: #d7dbe2;*/
  height: 80px;
  margin: 10px 40px 10px 40px;
  text-align: center;
}

.img-service{
  width: 30px;
  background-color: blue;
  height: 30px;
  border-radius: 100%;
  margin: 0 auto;
}

.name-service{
  display: inline-block;
  zoom: 1;
  margin: 10px auto;
  font-size: 12px;
}

#btn-services{
  margin: 0 auto;
  display: block;
}

/*==================== FORM PROPONI UN EVENTO ======================*/

#form-container{
  width: 100%;
  background-color: #d6d7d8;
  display: inline-block;
  padding: 10px 0 10px 0;
}

.alignleft {
  float: left;
  width: 45%;
  padding: 20px;
/*	background-color: $colore; */
}
.alignright {
  float: right;
  width: 45%;
  padding: 20px;
/*	background-color: yellow; */
}

#first-name{
  float: left;
  width: 40%;
  border-radius: 5px;
  border: 1px solid #999da1;
  padding: 5px;
}

#last-name{
  float: right;
  width: 40%;
  border-radius: 5px;
  border: 1px solid #999da1;
  padding: 5px;
}

#msg-event{
  border-radius: 5px;
  border: 1px solid #999da1;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 98%;
  height: 180px;
}

#btn-event{
  float: right;
}

