*{
    box-sizing: border-box;
    font-family: 'Roboto Mono';
}

body {
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}
.titolo{
    color: red;
}

.articles{
  border: 1px solid red;
  padding: 15px;
}

.article{
  border: 1px solid blue;
  margin: 15px;
}

.menu{
    width: 100%;
    padding: 10px 0; 
    .menu_list{
        list-style: none;
        .menu_item{
            display: inline-block;
            margin: 0 15px;
        }
    }
}

.header{
    width: 100%;
    background-color: lightblue;
}
.footer{
    width: 100%;
    background-color: darksalmon;
    color: white;
}